[submodule "zsh/.zshcustom/custom/plugins/zsh-autosuggestions"]
	path = zsh/.zshcustom/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh/.zshcustom/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.zshcustom/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "zsh/.zshcustom/custom/plugins/zsh-history-substring-search"]
	path = zsh/.zshcustom/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git

[submodule "zsh/.zshcustom/custom/themes/catppuccin-zsh-syntax-highlighting"]
	path = zsh/.zshcustom/custom/themes/catppuccin-zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git

[submodule "zsh/.zshcustom/custom/plugins/fast-syntax-highlighting"]
	path = zsh/.zshcustom/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git

